.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: var(--preto);
}

.rodape h2 {
  color: var(--branco);
  font-size: 1.1rem;
  font-weight: 400;
}